.home-section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(#102347, #181818);
	height: 20vh;

	h2 {
		min-width: 10px;
		display: inline-block;
		animation-fill-mode: both;
		color: #ffffff;
	}
	span {
		color: #ffffff;
	}
}
